.title-site
{
	text-align: center;
	color: red;
	font-family: AlexBrush;
	font-size: 50px;
 	font-weight: 300;
 	line-height: 56px;
 	letter-spacing: -1px;
	margin-bottom: 0;
  float: left;
	position: absolute;
	top: 35px;
}

.me
{
 	float: left;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-style: dotted;
	border-radius: 50px;
	overflow: hidden;
	border-width: thick;
	border-color: rgb(150, 150, 120);
}

.aboutme-content
{
	margin-bottom: $spacing-unit;
	text-align: center;

	h2 {
			font-size: 32px;
			text-decoration: underline;

			@include media-query($on-laptop) {
					font-size: 28px;
			}
	}

	h3 {
			font-size: 26px;

			@include media-query($on-laptop) {
					font-size: 22px;
			}
	}

	h4 {
			font-size: 20px;

			@include media-query($on-laptop) {
					font-size: 18px;
			}
	}
}

@font-face {
	font-family: Raven;
	src: url(fonts/raven.ttf);
}

@font-face {
	font-family: HomemadeApples;
	src: url(fonts/homeapples.ttf);
}

@font-face {
	font-family: Cartoon;
	src: url(fonts/cartoon.ttf);
}

@font-face {
	font-family: AlexBrush;
	src: url(fonts/brush.ttf);
}
