body
{
	background-image: url(svg/bg.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
	
.introduction
{
	text-align: center;
	font-family: Cartoon;
	font-size: 30px;
}
	
.site-title
{
	text-align: center;
	color: red;
	text-decoration: underline;
	font-family: AlexBrush;
	font-size: 70px;
}
	
.links
{
	text-align: center;
	padding: 20px 20px 20px 20px;
	font-size: 25px;
	color: green;
	font-family: Cartoon;
}
	
a
{
 	color: hsl(100, 150%, 100%);
}
	
@font-face {
	font-family: Raven;
	src: url(fonts/raven.ttf);
}
	
@font-face {
	font-family: HomemadeApples;
	src: url(fonts/homeapples.ttf);
}
	
@font-face {
	font-family: Cartoon;
	src: url(fonts/cartoon.ttf);
}
	
@font-face {
	font-family: AlexBrush;
	src: url(fonts/brush.ttf);
}